body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
    line-height: 50px;
}

.orange-color {
    color: orange;
}

section {
    display: flex;
    flex-wrap: wrap row;
    justify-content: space-between;
    flex
}

.half-width {
    padding-top: 100px;
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 80%;
}

.hire-me {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: #fff;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.top-banner p {
    padding-right: 200px;
    padding-bottom: 20px;
}

section {
    display: flex;
    margin-bottom: 100px;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.dream-big p {
    padding-right: 200px;
    padding-bottom: 20px;
}